
func (t {{.Name}}Type) ValueFromObject(ctx context.Context, in basetypes.ObjectValue) (basetypes.ObjectValuable, diag.Diagnostics) {
var diags diag.Diagnostics

if in.IsNull() {
return New{{.Name}}ValueNull(), diags
}

if in.IsUnknown() {
return New{{.Name}}ValueUnknown(), diags
}

{{- if .AttrValues}}

attributes := in.Attributes()
{{- end}}

{{range $key, $value := .AttrValues }}
{{$key.ToCamelCase}}Attribute, ok := attributes["{{$key}}"]

if !ok {
diags.AddError(
"Attribute Missing",
`{{$key}} is missing from object`)

return nil, diags
}

{{if contains $value "."}}
{{$key.ToCamelCase}}Val, ok := {{$key.ToCamelCase}}Attribute.({{$value}})

if !ok {
diags.AddError(
"Attribute Wrong Type",
fmt.Sprintf(`{{$key}} expected to be {{$value}}, was: %T`, {{$key.ToCamelCase}}Attribute))
}
{{else}}
{{$key.ToCamelCase}}Valuable, ok := {{$key.ToCamelCase}}Attribute.(basetypes.ObjectValuable)

if !ok {
diags.AddError(
"Attribute Wrong Type",
fmt.Sprintf(`{{$key}} expected to be basetypes.ObjectValuable, was: %T`, {{$key.ToCamelCase}}Attribute))

return nil, diags
}

{{$key.ToCamelCase}}ObjVal, {{$key.ToCamelCase}}ObjValDiags := {{$key.ToCamelCase}}Valuable.ToObjectValue(ctx)
diags.Append({{$key.ToCamelCase}}ObjValDiags...)

{{$key.ToCamelCase}}Typable, ok := t.AttrTypes["{{$key}}"].(basetypes.ObjectTypable)

if !ok {
diags.AddError(
"Attribute Wrong Type",
fmt.Sprintf(`{{$key}} expected type to be basetypes.ObjectTypable, was: %T`, t.AttrTypes["{{$key}}"]))

return nil, diags
}

{{$key.ToCamelCase}}Converted, {{$key.ToCamelCase}}ConvertedDiags := {{$key.ToCamelCase}}Typable.ValueFromObject(ctx, {{$key.ToCamelCase}}ObjVal)
diags.Append({{$key.ToCamelCase}}ConvertedDiags...)

{{$key.ToCamelCase}}Val, ok := {{$key.ToCamelCase}}Converted.({{$value}})

if !ok {
diags.AddError(
"Attribute Wrong Type",
fmt.Sprintf(`{{$key}} expected to be {{$value}}, was: %T`, {{$key.ToCamelCase}}Converted))
}
{{end}}
{{end}}

if diags.HasError() {
return nil, diags
}

return {{.Name}}Value{
{{- range $key, $value := .AttrValues }}
{{$key.ToPrefixPascalCase $.Name}}: {{$key.ToCamelCase}}Val,
{{- end}}
state: attr.ValueStateKnown,
}, diags
}